@*
    ======================================================================
    VIEW: Settings / AttendanceType.cshtml
    PURPOSE: User interface rendering for the Settings module.
    ======================================================================
*@
@{
    Layout = "_Layout";
}

<div class="d-flex align-items-sm-center justify-content-between flex-wrap gap-2 mb-2">
    <div>
        <h6 class="fw-bold mb-0">Attendance Type</h6>
    </div>
    <button class="btn btn-primary" onclick="openAddModal()">
        <i class="ti ti-cloud me-1"></i> Save
    </button>
</div>

<div class="col-xl-12">
    <div class="card shadow-tbl-outer">
        @* <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
            <h5 class="card-title">Attendance Type</h5>
            <button class="btn btn-primary">Save</button>
        </div> *@
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Attendance</label>
                        <div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="radio" id="customRadiocolor1" name="customRadiocolor" class="form-check-input" checked="">
                                <label class="form-check-label" for="customRadiocolor1">Day Wise</label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="radio" id="customRadiocolor1" name="customRadiocolor" class="form-check-input" checked="">
                                <label class="form-check-label" for="customRadiocolor1">Period Wise</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="mb-3">
                        <label for="" class="form-label">QR Code / Barcode / Biometric Attendance</label>
                        <div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="radio" id="customRadiocolor1" name="customRadiocolor" class="form-check-input" checked="">
                                <label class="form-check-label" for="customRadiocolor1">Disabled</label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="radio" id="customRadiocolor1" name="customRadiocolor" class="form-check-input" checked="">
                                <label class="form-check-label" for="customRadiocolor1">Enabled</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="mb-3">
                        <label for="" class="form-label"> Devices (Separate By Comma) </label>
                        <input type="text" class="form-control" value="Biometric">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Low Attendance Limit</label>
                        <input type="text" class="form-control" value="0.00">
                    </div>
                </div>
            </div>
            @*  <div class="mt-3 text-end">
            <button class="btn btn-primary">Save</button>
            </div> *@
        </div>
    </div>
</div>

<div class="d-flex align-items-sm-center justify-content-between flex-wrap gap-2 mb-2">
    <div>
        <h6 class="fw-bold mb-0">Class Attendance Time For Auto Attendance Submission</h6>
    </div>
    <button class="btn btn-primary" onclick="openAddModal()">
        <i class="ti ti-cloud me-1"></i> Save
    </button>
</div>

<div class="col-xl-12">
    <div class="card shadow-tbl-outer">
       @*  <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
            <h5 class="card-title">Class Attendance Time For Auto Attendance Submission</h5>
            <button class="btn btn-primary">Save</button>
        </div> *@
        <div class="card-body">
            <p for="">
                <input type="checkbox"> Copy First Detail For All
            </p>

            <div class="bg-light p-3 mb-2 rounded">
                <h6 class="mb-3">1st Class</h6>
                <div class="row">
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section C</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section A</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section B</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section D</label>
                        <input type="time" class="form-control">
                    </div>
                </div>
            </div>

            <div class="bg-light p-3 mb-2 rounded">
                <h6 class="mb-3">2nd Class</h6>
                <div class="row">
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section C</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section A</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section B</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Section D</label>
                        <input type="time" class="form-control">
                    </div>
                </div>
            </div>

            <div class="bg-light p-3 mb-2 rounded">
                <h6 class="mb-3">12th Class</h6>
                <div class="row">
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Arts</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">Commerce</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">PCB</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <label for="" class="form-label small">PCM</label>
                        <input type="time" class="form-control">
                    </div>
                </div>
            </div>

            <div class="bg-light p-3 mb-2 rounded">

                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="mb-3">U.K.G</h6>
                        <label for="" class="form-label small">Section A</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-4">
                        <h6 class="mb-3">L.K.G</h6>
                        <label for="" class="form-label small">Section A</label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-lg-4">
                        <h6 class="mb-3">Nursery</h6>
                        <label for="" class="form-label small">Section A</label>
                        <input type="time" class="form-control">
                    </div>
                </div>
            </div>

            @*  <div class="text-end mt-3">
            <button class="btn btn-primary">Save</button>
            </div> *@

        </div>
    </div>
</div>