@*
    ======================================================================
    VIEW: Settings / LoginPageBG.cshtml
    PURPOSE: User interface rendering for the Settings module.
    ======================================================================
*@
@{
    Layout = "_Layout";
}

<div class="d-flex align-items-sm-center justify-content-between flex-wrap gap-2 mb-3">
    <div>
        <h4 class="fw-bold mb-0">Login Page Background</h4>
    </div>
    @* <button class="btn btn-primary" onclick="openAddModal()">
        <i class="ti ti-plus me-1"></i> Add
    </button> *@
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            @* <div class="card-header">
                <h5 class="card-title">
                    Login Page Background
                </h5>
            </div> *@
            <div class="card-body">
                <div class="row">

                    <div class="col-xl-4">
                        <div class="card p-3">
                            <h6>Admin Panel</h6>
                            <div class="bg-light img-size mb-2">
                            </div>
                            <span class="text-primary">
                                (1460 <i class="ti ti-x"></i> 1080
                                )
                            </span>

                            <div class='file mt-2'>
                                <label for='input-file'>
                                    <i class="ti ti-cloud-upload">
                                    </i>Update
                                </label>
                                <input id='input-file' type='file' />
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card p-3">
                            <h6>User Panel</h6>
                            <div class="bg-light img-size mb-2">
                            </div>
                            <span class="text-primary">
                                (1460 <i class="ti ti-x"></i> 1080
                                )
                            </span>

                            <div class='file mt-2'>
                                <label for='input-file'>
                                    <i class="ti ti-cloud-upload">
                                    </i>Update
                                </label>
                                <input id='input-file' type='file' />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>