@*
    ======================================================================
    VIEW: Settings / Maintenance.cshtml
    PURPOSE: User interface rendering for the Settings module.
    ======================================================================
*@
@{
    Layout = "_Layout";
}

<div class="d-flex align-items-sm-center justify-content-between flex-wrap gap-2 mb-2">
    <div>
        <h6 class="fw-bold mb-0">Maintenance</h6>
    </div>
    <button class="btn btn-primary" onclick="openAddModal()">
        <i class="ti ti-cloud me-1"></i> Save
    </button>
</div>

<div class="col-xl-12">
    <div class="card shadow-tbl-outer">
       @*  <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
            <h5 class="card-title">Maintenance</h5>
            <button class="btn btn-primary">Save</button>
        </div> *@
        <div class="card-body">

            <div class="row">
                <div class="col-xl-6">
                    <label for="" class="form-label"> Maintenance Mode</label>
                    <div>
                        <div class="form-check form-check-inline mb-2">
                            <input type="radio" id="customRadiocolor1" name="customRadiocolor" class="form-check-input" checked="">
                            <label class="form-check-label" for="customRadiocolor1">Disabled</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input type="radio" id="customRadiocolor2" name="customRadiocolor" class="form-check-input" checked="">
                            <label class="form-check-label" for="customRadiocolor2">Enabled</label>
                        </div>
                    </div>
                </div>
            </div>
            @*  <div class="text-end mt-3">
            <button class="btn btn-primary">Save</button>
            </div> *@
        </div>
    </div>
</div>