@*
    ======================================================================
    VIEW: Settings / StudentGuardian.cshtml
    PURPOSE: User interface rendering for the Settings module.
    ======================================================================
*@
@{
    Layout = "_Layout";
}

<div class="d-flex align-items-sm-center justify-content-between flex-wrap gap-2 mb-3">
    <div>
        <h4 class="fw-bold mb-0">Student / Guardian Panel</h4>
    </div>
    <button class="btn btn-primary" onclick="openAddModal()">
        <i class="ti ti-cloud me-1"></i> Save
    </button>
</div>

<div class="col-xl-12">
    <div class="card">
       @*  <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
            <h5 class="card-title">Student / Guardian Panel</h5>
            <button class="btn btn-primary">Save</button>
        </div> *@
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="input-label" class="form-label">
                            User Login
                            Option
                        </label>
                        <div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="checkbox" class="form-check-input" id="customCheckcolor1" checked>
                                <label class="form-check-label" for="customCheckcolor1">
                                    Student
                                    Login
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="checkbox" class="form-check-input" id="customCheckcolor2" checked>
                                <label class="form-check-label" for="customCheckcolor2">
                                    Parent
                                    Login
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="input-label" class="form-label">
                            Additional Username
                            Option For Student Login
                        </label>
                        <div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="checkbox" class="form-check-input" id="customCheckcolor1" checked>
                                <label class="form-check-label" for="customCheckcolor1">
                                    Admission
                                    Number
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="checkbox" class="form-check-input" id="customCheckcolor1">
                                <label class="form-check-label" for="customCheckcolor1">
                                    Mobile
                                    Number
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="checkbox" class="form-check-input" id="customCheckcolor1">
                                <label class="form-check-label" for="customCheckcolor1">
                                    Email
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="input-label" class="form-label">
                            Additional Username
                            Option For Parent Login
                            Option
                        </label>
                        <div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="checkbox" class="form-check-input" id="customCheckcolor1" checked>
                                <label class="form-check-label" for="customCheckcolor1">
                                    Mobile
                                    Number
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="checkbox" class="form-check-input" id="customCheckcolor1">
                                <label class="form-check-label" for="customCheckcolor1">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="input-label" class="form-label">
                            Allow Student To Add
                            Timeline
                        </label>
                        <div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="radio" id="customRadiocolor1" name="customRadiocolor" class="form-check-input" checked>
                                <label class="form-check-label" for="customRadiocolor1">Disabled</label>
                            </div>
                            <div class="form-check form-check-inline mb-2">
                                <input type="radio" id="customRadiocolor2" name="customRadiocolor" class="form-check-input">
                                <label class="form-check-label" for="customRadiocolor2">Enabled</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*   <div class="text-end mt-3">
            <button class="btn btn-primary">Save</button>
            </div> *@
        </div>
    </div>
</div>